[Unit]
Description=Printer facts API
Wants=network-pre.target
After=network-pre.target

[Service]
EnvironmentFile=/etc/default/printerfacts
ExecStart=/usr/bin/printerfacts
Restart=on-failure
User=printerfacts

[Install]
WantedBy=multi-user.target
